@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}


body {
	font-family: roboto;
}


body {

}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.ui-inputtext {
	width: 100%;
}
.ui-fieldset .ui-fieldset-content-wrapper-overflown {
	overflow: none;
}

.ui-panel .ui-panel-content-wrapper-overflown {
	overflow: none;
}

.ui-dialog .ui-dialog-content {
	overflow: visible;
}
.ui-button .ui-button-icon-only .fa {
	margin-left: -10px;
}

.ui-radiobutton-box  .fa {
	font-size: 16px;
	
}
.ui-radiobutton-box  .fa-fw {
	width: auto;
	text-align: left;
}
.ui-radiobutton-box .ui-radiobutton-icon {
	margin-top:0px;
	margin-left:1px;
}

.ui-button-icon-only .fa {
	margin-left: -10px;
}

.numberInput {
	text-align: right;
}

[hidden] {
  display: none !important;
}

.formTitle {
	color: #4384b8;
}

.gridInput .{
	border-bottom:1px #ffffff solid;
	box-shadow: 0px 3px 5px 0px #ebebeb;
	margin-bottom: 5px;
}

.gridInput .head {
	background-color:#f6f6f6;
	border-bottom:1px #ffffff solid;
	box-shadow: 0px 3px 5px 0px #ebebeb;
	height: 40px;
	margin-bottom: 5px;
}
.gridInput .odd {
	background-color:#f6f6f6;
}

.ui-grid .row {
	height: 40px;
}

.ui-grid .alignCenter {
	text-align: center;
}

.searchItemFilter {
	margin-bottom: 15px;
}
.searchTablePopup {
	margin-top: 15px;
	margin-bottom: 15px;
}