<h1>City</h1>

<p-growl [value]="msgs"></p-growl>

<div>&nbsp;</div>

<p-dataTable [value]="cities" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="isActive" header="Is Active" [sortable]="true">
        <template let-city="rowData" pTemplate type="body">
            <div style="text-align: center;">{{city.isActive | isActive}}</div>
        </template>
    </p-column>
    <p-column styleClass="col-button">
    	<template pTemplate type="header">
            <button (click)="addRow()" type="button" pButton icon="fa-plus"></button>
        </template>
        <template let-city="rowData" pTemplate type="body">
        	<a href="javascript:;"><i class="fa fa-search" (click)="viewRow(city)" aria-hidden="true"></i></a>
        	<a href="javascript:;"><i class="fa fa-pencil-square-o" (click)="editRow(city)" aria-hidden="true"></i></a>
        </template>
    </p-column>
</p-dataTable>

<p-dialog header="City Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="700">

    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="city">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="name">Name *</label></div>
            <div class="ui-grid-col-6"><input pInputText id="name" required [(ngModel)]="city.name" name="name"
               #name="ngModel" /></div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="name.valid || name.untouched">
                    <i class="fa fa-close"></i>
                    Name is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="isActive">Is Active</label></div>
            <div class="ui-grid-col-6"><p-dropdown [options]="globalVariable.disableSelect" [(ngModel)]="city.isActive"  [style]="{'width':'80px'}"></p-dropdown></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-times" label="Cancel" (click)="closeModal()"></button>
            <button pButton icon="fa-check" label="Save" (click)="save()" [hidden]="!isSaving"></button>
            <button pButton icon="fa-check" label="Save" (click)="update()" [hidden]="!isEditing"></button>
        </div>
    </footer>

</p-dialog>