<h1>Measurement</h1>

<p-growl [value]="msgs"></p-growl>

<!-- Filter -->
<p-panel header="Filter" toggleable="true" [(collapsed)]="collapseFilter">
	<p-tabView>
	    <p-tabPanel header="Filter">
	        <div class="ui-grid ui-grid-responsive ui-grid-pad">
			    <div class="ui-grid-row">
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Name
			            </div>
			            <div class="ui-grid-col-8">
			                <input pInputText type="text" [(ngModel)]="nameFilter" />
			            </div>
			        </div>
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Abbreviation
			            </div>
			            <div class="ui-grid-col-8">
			                <input pInputText type="text" [(ngModel)]="abbreviationFilter" />
			            </div>
			        </div>
			    </div>
			    <div class="ui-grid-row">
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Type
			            </div>
			            <div class="ui-grid-col-8">
			                <p-dropdown [options]="globalVariable.measurementTypeSelect" [(ngModel)]="searchCriteria.typeFilter"></p-dropdown>
			            </div>
			            
			        </div>
			    </div>
			</div>
	    </p-tabPanel>
	    <p-tabPanel header="Sort">
	    	<div class="ui-grid-row">
		        <div class="ui-grid-col-6">
		            <div class="ui-grid-col-4">
        				Sort By : 
        			</div>
        			<div class="ui-grid-col-8">
        				<p-dropdown [options]="sortFields" [(ngModel)]="searchCriteria.sortBy" [style]="{'width':'100px'}"></p-dropdown>
        				<p-dropdown [options]="globalVariable.sortTypeSelect" [(ngModel)]="searchCriteria.sortType" [style]="{'width':'80px'}"></p-dropdown>
        			</div>
        		</div>
        	</div>
	    </p-tabPanel>
	    <p-tabPanel header="Per Page">
	    	<div class="ui-grid-row">
		        <div class="ui-grid-col-6">
		            <div class="ui-grid-col-4">
        				Per Page :
        			</div>
        			<div class="ui-grid-col-8">
        				<p-dropdown [options]="globalVariable.perPageSelect" [(ngModel)]="searchCriteria.perPage" [style]="{'width':'100px'}"></p-dropdown>
        			</div>
        		</div>
        	</div>
	    </p-tabPanel>
	</p-tabView>
	<div class="ui-grid-row">
    	<div class="ui-grid-col-12">
        	<button type="button" pButton (click)="filterTableData()" style="float:right" label="Filter"></button>
        </div>
    </div>
</p-panel>
<!-- Filter -->

<div>&nbsp;</div>

<p-dataTable [value]="measurements">
    <p-column field="name" header="Name"></p-column>
    <p-column field="abbreviation" header="Abbreviation"></p-column>
    <p-column field="type" header="Type"></p-column>
    <p-column field="unit" header="Unit">
        <template let-measurement="rowData" pTemplate type="body">
            <div style="text-align: right;">{{measurement.unit | number:'.2'}}</div>
        </template>
    </p-column>
    <p-column field="isActive" header="Is Active">
        <template let-measurement="rowData" pTemplate type="body">
            <div style="text-align: center;">{{measurement.isActive | isActive}}</div>
        </template>
    </p-column>
    <p-column styleClass="col-button">
    	<template pTemplate type="header">
            <button (click)="addRow()" type="button" pButton icon="fa-plus"></button>
        </template>
        <template let-measurement="rowData" pTemplate type="body">
        	<a href="javascript:;"><i class="fa fa-search" (click)="viewRow(measurement)" aria-hidden="true"></i></a>
        	<a href="javascript:;"><i class="fa fa-pencil-square-o" (click)="editRow(measurement)" aria-hidden="true"></i></a>
        </template>
    </p-column>
    <footer>
    	<div class="ui-helper-clearfix" style="width:100%">
    		<div style="float:right;">
    			<button *ngIf="searchCriteria.currPage>1" (click)="getPageData(searchCriteria.currPage-1)" type="button" pButton style="float:left" icon="fa-chevron-left"></button>
    			<button *ngFor="let i of searchCriteria.arrPage" [disabled]="i==searchCriteria.currPage" type="button" pButton style="float:left" label="{{i}}" (click)="getPageData(i)"></button>
    			<button *ngIf="searchCriteria.currPage<searchCriteria.totalPage" (click)="getPageData(searchCriteria.currPage+1)" type="button" pButton style="float:left" icon="fa-chevron-right"></button>
    		</div>
    	</div>
    </footer>
</p-dataTable>

<p-dialog header="Measurement Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="700">

    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="measurement">
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="name">Name *</label></div>
            <div class="ui-grid-col-6"><input pInputText id="name" required [(ngModel)]="measurement.name" name="name"
               #name="ngModel" /></div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="name.valid || name.untouched">
                    <i class="fa fa-close"></i>
                    Name is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="abbreviation">Abbreviation *</label></div>
            <div class="ui-grid-col-6"><input pInputText id="abbreviation" required [(ngModel)]="measurement.abbreviation" name="abbreviation"
               #abbreviation="ngModel"  /></div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="abbreviation.valid || abbreviation.untouched">
                    <i class="fa fa-close"></i>
                    Abbreviation is required
                </div>
            </div>   
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="type">Type *</label></div>
            <div class="ui-grid-col-6"><p-dropdown [options]="globalVariable.measurementTypeSelect" [(ngModel)]="measurement.type" [style]="{'width':'120px'}"></p-dropdown></div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="typeIsValid">
                    <i class="fa fa-close"></i>
                    Type is must selected
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="unit">Unit *</label></div>
            <div class="ui-grid-col-6"><input pInputText id="unit" type="number" required [(ngModel)]="measurement.unit" name="unit" #unit="ngModel" /></div>
            <div class="ui-grid-col-4">
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="unit.valid || unit.untouched">
                    <i class="fa fa-close"></i>
                    Unit is required
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="isActive">Is Active</label></div>
            <div class="ui-grid-col-6"><p-dropdown [options]="globalVariable.disableSelect" [(ngModel)]="measurement.isActive"  [style]="{'width':'80px'}"></p-dropdown></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-times" label="Cancel" (click)="closeModal()"></button>
            <button pButton icon="fa-check" label="Save" (click)="save()" [hidden]="!isSaving"></button>
            <button pButton icon="fa-check" label="Save" (click)="update()" [hidden]="!isEditing"></button>
        </div>
    </footer>

</p-dialog>