<h1>Create Product</h1>

<p-growl [value]="msgs"></p-growl>

<p-tabView>
    <p-tabPanel header="Details">

        <div class="ui-grid ui-grid-responsive ui-grid-pad">

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="name">Name *</label></div>
                <div class="ui-grid-col-6"><input pInputText id="name" required [(ngModel)]="product.name" name="name"
                   #name="ngModel" /></div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="name.valid || name.untouched">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                </div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="code">Code *</label></div>
                <div class="ui-grid-col-6"><input pInputText id="code" required [(ngModel)]="product.code" name="code"
                   #code="ngModel" /></div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" [hidden]="code.valid || code.untouched">
                        <i class="fa fa-close"></i>
                        Code is required
                    </div>
                </div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="description">Description </label></div>
                <div class="ui-grid-col-6"><input pInputText id="description" required [(ngModel)]="product.description" name="description"
                   #description="ngModel" /></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="barcode">Barcode</label></div>
                <div class="ui-grid-col-6"><input pInputText id="barcode" required [(ngModel)]="product.barcode" name="barcode"
                   #barcode="ngModel" /></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="remarks">Remarks</label></div>
                <div class="ui-grid-col-6"><input pInputText id="remarks" required [(ngModel)]="product.remarks" name="remarks"
                   #remarks="ngModel" /></div>
            </div>
            <!-- Row End -->

        </div>

    </p-tabPanel>
    <p-tabPanel header="Cost & Price">

        <div class="ui-grid ui-grid-responsive ui-grid-pad">

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Standar Unit Of Measurement *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Cost Price *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Sales Unit Of Measurement *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Sales UOM Conversion *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Normal Sales Price</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Purchase Unit Of Measurement *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Purchase UOM Conversion *</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->

            <!-- Row -->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label>Normal Purchase Price</label></div>
                <div class="ui-grid-col-6"></div>
            </div>
            <!-- Row End -->
            

        </div>        
    </p-tabPanel>

</p-tabView>
