<h1 class="formTitle">Purchase Order</h1>

<p-growl [value]="msgs"></p-growl>
<p-growl [value]="errorMsgs" life="100000"></p-growl>

<div>&nbsp;</div>

<div class="ui-grid ui-grid-responsive ui-grid-pad">

    <!-- Row -->
    <div class="ui-grid-row">

        <div class="ui-grid-col-3">

        	<!-- Vendor Input -->
    		<div class="ui-grid-col-4">
                Vendor
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [value]="vendor.name"
                	(click)="showVendorsModal()" />
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="vendorValid">
                    <i class="fa fa-close"></i>
                    Vendor is required
                </div>
            </div>
        	<!-- Vendor INput -->

        </div>

        <div class="ui-grid-col-3">&nbsp;</div>
        <div class="ui-grid-col-3">&nbsp;</div>

        <div class="ui-grid-col-3">
        	
        	<!-- Purchase No Input -->
    		<div class="ui-grid-col-4">
                Order #
            </div>
            <div class="ui-grid-col-8">
                <input pInputText type="text" [(ngModel)]="orderNo" />
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="noValid">
                    <i class="fa fa-close"></i>
                    Order No is required
                </div>
            </div>
        	<!-- Purchase No INput -->

        </div>
    </div>
    <!-- Row End -->

    <!-- Row -->
    <div class="ui-grid-row">

        <div class="ui-grid-col-3">
			<!-- Date -->
    		<div class="ui-grid-col-4">
                Due Date
            </div>
            <div class="ui-grid-col-8">
                <p-calendar [(ngModel)]="dueDate"></p-calendar>
            </div>
        	<!-- Date -->        	
        </div>
        <div class="ui-grid-col-3">&nbsp;</div>
        <div class="ui-grid-col-3">&nbsp;</div>

        <div class="ui-grid-col-3">
        	
        	<!-- Date -->
    		<div class="ui-grid-col-4">
                Date
            </div>
            <div class="ui-grid-col-8">
                <p-calendar [(ngModel)]="purchaseDate"></p-calendar>
                <div class="ui-message ui-messages-error ui-corner-all" [hidden]="dateValid">
                    <i class="fa fa-close"></i>
                     Date is required
                </div>
            </div>
        	<!-- Date -->

        </div>
    </div>
    <!-- Row End -->    

</div>

<div>&nbsp;</div>

<!-- Orders -->
<div class="ui-grid ui-grid-responsive ui-grid-pad gridInput">

    <!-- Row -->
    <div class="ui-grid-row head">

        <div class="ui-grid-col-3 title">
        	Product
        </div>
        <div class="ui-grid-col-2 title">
        	Qty
        </div>
        <div class="ui-grid-col-2 title">
        	Price
        </div>
        <div class="ui-grid-col-2 title">
        	Discount
        </div>
        <div class="ui-grid-col-2 title">
        	Sub Total
        </div>

        <div class="ui-grid-col-1 title alignCenter">
        	 <button type="button" pButton icon="fa-plus" (click)="addRow()"></button>
        </div>

    </div>
    <!-- Row -->

    <!-- Row -->
    <div class="ui-grid-row row" *ngFor="let orderDetailsObj of orderDetailsList; let index=index;let odd=odd;" [ngClass]="{ odd: odd }">

        <div class="ui-grid-col-3">
        	<input pInputText type="text" [value]="orderDetailsObj.product.name" (click)="showProductsModal(orderDetailsObj)" />
        </div>
        <div class="ui-grid-col-2">
        	<input pInputText type="text" class="numberInput" CurrencyFormatter [(ngModel)]="orderDetailsObj.quantityUOMStr" (ngModelChange)="orderDetailsChange(orderDetailsObj)" />
        </div>
        <div class="ui-grid-col-2">
        	<input pInputText type="text" class="numberInput" CurrencyFormatter [(ngModel)]="orderDetailsObj.unitPriceStr" (ngModelChange)="orderDetailsChange(orderDetailsObj)" />
        </div>
        <div class="ui-grid-col-2">
        	<input pInputText type="text" class="numberInput" CurrencyFormatter [(ngModel)]="orderDetailsObj.discountStr" (ngModelChange)="orderDetailsChange(orderDetailsObj)" />
        </div>
        <div class="ui-grid-col-2">
        	<input pInputText type="text" class="numberInput" [(ngModel)]="orderDetailsObj.subTotalStr" readonly="true" />
        </div>

        <div class="ui-grid-col-1 alignCenter">
        	 <button type="button" pButton icon="fa-minus" (click)="removeRow(index)"></button>
        </div>

    </div>
    <!-- Row -->    

</div>
<!-- Orders -->

<div class="ui-grid ui-grid-responsive ui-grid-pad">

    <!-- Row -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-8">
        </div>
        <div class="ui-grid-col-2">
            Tax
        </div>
        <div class="ui-grid-col-2">
            <input pInputText type="text" class="numberInput" CurrencyFormatter [(ngModel)]="taxStr" (ngModelChange)="totalOrder()"  />
        </div>
    </div>
    <!-- Row -->

    <!-- Row -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-8">
        </div>
        <div class="ui-grid-col-2">
            Tax Total
        </div>
        <div class="ui-grid-col-2">
            <input pInputText type="text" class="numberInput" [(ngModel)]="taxTotalStr" readonly="true" />
        </div>
    </div>
    <!-- Row -->

    <!-- Row -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-8">
        </div>
        <div class="ui-grid-col-2">
            Freight
        </div>
        <div class="ui-grid-col-2">
            <input pInputText type="text" class="numberInput" CurrencyFormatter [(ngModel)]="freightStr" (ngModelChange)="totalOrder()" />
        </div>
    </div>
    <!-- Row -->

    <!-- Row -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-8">
        </div>
        <div class="ui-grid-col-2">
            Total
        </div>
        <div class="ui-grid-col-2">
            <input pInputText type="text" class="numberInput" [(ngModel)]="totalStr" readonly="true" />
        </div>
    </div>
    <!-- Row -->

    <!-- Row -->
    <div class="ui-grid-row">
        <div class="ui-grid-col-8">
        </div>
        <div class="ui-grid-col-2">
        </div>
        <div class="ui-grid-col-2">
            <button pButton icon="fa-check" label="Update" (click)="save()"></button>
        </div>
    </div>
    <!-- Row -->

</div>

<p-dialog header="Products" [(visible)]="displayProductDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="700">

    <div class="ui-grid ui-grid-responsive ui-grid-pad">

        <!-- Filter -->
        <p-fieldset legend="Filter" toggleable="true" collapsed="true" class="searchItemFilter">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">
                        Product Name : 
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="text" [(ngModel)]="productSearchCriteria.name" />
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6"></div>
                    <div class="ui-grid-col-6">
                        <button pButton icon="fa-check" label="Filter" class="floatRight" (click)="filterProducts(productSearchCriteria.page)"></button>
                    </div>
                </div>            
            </div>
        </p-fieldset>
        <!-- Filter End -->

        <div class="ui-grid-row searchTablePopup">
            <p-dataTable [value]="products" selectionMode="single" [(selection)]="selectedProduct">
			    <p-column field="name" header="Name" [sortable]="true"></p-column>
                <footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <div style="float:right;">
                            <button *ngIf="productSearchCriteria.page>1"  (click)="filterProducts(productSearchCriteria.page-1)" type="button" pButton style="float:left" icon="fa-chevron-left"></button>
                            <button *ngIf="productSearchCriteria.page<productSearchCriteria.totalPage"  (click)="filterProducts(productSearchCriteria.page+1)" type="button" pButton style="float:left" icon="fa-chevron-right"></button>
                        </div>
                    </div>
                </footer>
			</p-dataTable>
        </div>
        <div class="ui-grid-row">
        	<div class="ui-grid-col-3">
        		Measurement
        	</div>
        	<div class="ui-grid-col-3">
        		<p-radioButton name="measurementType" value="purchase" [(ngModel)]="measurementType" label="Purchase"></p-radioButton>
        	</div>
        	<div class="ui-grid-col-3">
        		<p-radioButton name="measurementType" value="standard" [(ngModel)]="measurementType" label="Standard"></p-radioButton>
        	</div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button pButton icon="fa-close" label="Cancel" (click)="hideProductsModal()"></button>
            <button pButton icon="fa-check" label="Select" (click)="setOrderDetailsProduct()"></button>
        </div>
    </footer>

</p-dialog>

<p-dialog header="Vendors" [(visible)]="displayVendorDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="700">

    <!-- Filter -->
    <p-fieldset legend="Filter" toggleable="true" collapsed="true" class="searchItemFilter">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    Vendor Name : 
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" [(ngModel)]="vendorSearchCriteria.name" />
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6"></div>
                <div class="ui-grid-col-6">
                    <button pButton icon="fa-check" label="Filter" class="floatRight" (click)="filterVendors(vendorSearchCriteria.page)"></button>
                </div>
            </div>            
        </div>
    </p-fieldset>
    <!-- Filter End -->

    <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <div class="ui-grid-row searchTablePopup">
            <p-dataTable [value]="vendors" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
                selectionMode="single" [(selection)]="selectedVendor">
                <p-column field="name" header="Name" [sortable]="true"></p-column>
            </p-dataTable>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        	<button pButton icon="fa-close" label="Cancel" (click)="hideVendorsModal()"></button>
            <button pButton icon="fa-check" label="Select" (click)="setVendor()"></button>
        </div>
    </footer>

</p-dialog>