<h1>Customers</h1>
<p-fieldset legend="Filter" toggleable="true">
	<p-tabView>
	    <p-tabPanel header="Filter">
	        <div class="ui-grid ui-grid-responsive ui-grid-pad">
			    <div class="ui-grid-row">
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Name
			            </div>
			            <div class="ui-grid-col-8">
			                <input pInputText type="text" />
			            </div>
			        </div>
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Addess
			            </div>
			            <div class="ui-grid-col-8">
			                <input pInputText type="text" />
			            </div>
			        </div>
			    </div>
			    <div class="ui-grid-row">
			        <div class="ui-grid-col-6">
			            <div class="ui-grid-col-4">
			                Phone
			            </div>
			            <div class="ui-grid-col-8">
			                <input pInputText type="text" />
			            </div>
			        </div>
			    </div>
			</div>
	    </p-tabPanel>
	    <p-tabPanel header="Sort">
	        Content 2
	    </p-tabPanel>
	    <p-tabPanel header="Per Page">

	    </p-tabPanel>
	</p-tabView>
	<div class="ui-grid-row">
    	<div class="ui-grid-col-12">
        	<button type="button" pButton style="float:right" label="Filter"></button>
        </div>
    </div>
</p-fieldset>

<div>&nbsp;</div>
<p-dataTable [value]="customers">
    <p-column field="name" header="Name"></p-column>
    <p-column field="address" header="Address"></p-column>
    <p-column field="phone" header="Phone"></p-column>
    <p-column styleClass="col-button">
    	<template pTemplate type="header">
        </template>
        <template let-customer="rowData" pTemplate type="body">
            <button type="button" pButton (click)="viewCustomer(customer)" icon="fa-search"></button>
        </template>
    </p-column>
    <footer>
    	<div class="ui-helper-clearfix" style="width:100%">
    		<button type="button" pButton style="float:left" label="1"></button>
    	</div>
    </footer>
</p-dataTable>